*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
*.gpkg-wal
*.gpkg-shm

/Manifest.toml
/clones/
/dev/
/docs/build/
/docs/site/
.ipynb_notebooks/
.vscode/settings.json
tests/four_plates/notebooks/.ipynb_checkpoints/fault_slip_vectors-checkpoint.ipynb
registries/
packages/
environments/
logs/
compiled/
conda/
prefs/
test/four_plates/notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
test/four_plates/notebooks/Untitled.ipynb
artifacts/
compiled/
